{% extends 'base.html' %}
{% load cache %}

{% block title %}
  Посты любимых авторов
{% endblock %}

{% block content %}
  <h1>
    Посты любимых авторов
  </h1>
    {% cache 20 index_page %}
    {% include 'posts/includes/switcher.html' with follow=True %}
    {% for post in page_obj %}
      <article>
        {% include 'posts/includes/post_list.html' %}
        {% if post.group %}
          <a href="{% url 'posts:group_list' post.group.slug %}">
            #{{ post.group }}
          </a>
        {% endif %}
      </article>
      {% if not forloop.last %}
        <hr>
      {% endif %}
    {% endfor %}
  {% endcache %}
  {% include 'posts/includes/paginator.html' %}
{% endblock %}